/* Header Container */
.header-container {
    display: flex;
    background-color: #f2f2f2;
    padding: 10px;
    align-items: center;
    justify-content: space-between;
}

/* Logo */
.logo-image {
    width: 100px;
    height: auto;
}

/* Navigation */
.nav-container {
    margin: 0px 0px 0px;
}

.nav-list {
    box-sizing: border-box;
    list-style: none;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.nav-item {
    margin-bottom: 0px;
}

.nav-link {
    display: block;
    margin: 0;
    text-decoration: none;
    padding: 10px 20px;
    background-color: blue;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
}

.nav-link:hover {
    background-color: darkblue;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.buttonLogout {
    padding: 10px 20px;
    background-color: #e74c3c;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
}

.buttonLogout:hover {
    background-color: #c0392b;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

