/* Header Container */
.header-container {
    display: flex;
    background-color: #f2f2f2;
    padding: 10px;
    align-items: center;
    justify-content: space-between;
}

/* Logo */
.logo-image {
    width: 100px;
    height: auto;
}

/* Navigation */
.nav-container {
    margin: 0px 20px 0px;
}

.nav-list {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-item {
    margin-left: 10px;
}

.nav-link {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.buttonLogout {
    padding: 10px 20px;
    background-color: #e74c3c;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
}

.buttonLogout:hover {
    background-color: #c0392b;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

@media (max-width: 450px) {
    .nav-container {
        margin: 0px 0px 0px 20px;
    }
    .nav-list {
        list-style: none;
        display: flex;
        gap: 0px;
    }
}
