.itemWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 200px;
    margin-bottom: 20px;
    border: 2px solid black;
    background-color: #CDEBFD;
    padding: 10px;
    border-radius: 5px;
}

.itemWrapper p {
    margin: 0;
    padding: 2px;
    width: 100%;
}

.itemWrapper p:nth-child(even) {
    background: #a0a0a0;
  }

.userWrapper {
    display: flex;
    align-items: center;
    width: 100%;
}

.avatarImg {
    width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}

.itemImg {
    width: 100%;
    height: 100%;
}

.buttonsEdit {
    display: flex;
    justify-content: center;
    max-width: 180px;
}

.delete-button-main {
    background-color: #ff0000;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 10px;
}

.delete-button:hover {
    background-color: #cc0000;
}

.editButton {
    background-color: #235348;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 10px;
}

.editButton:hover {
    background-color: #4a7175;
}

.bankValue {
    width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.tagsList {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
    margin: 0;
    gap: 12px;
    margin-bottom: 7px;
  }
  
  .tagsItem {
    display: inline-block;
    margin-right: 10px;
  }
  
  .tagsItem:last-child {
    margin-right: 0;
  }
  
  .tagsItem a {
    text-decoration: none;
    color: #000;
    background-color: #f2f2f2;
    padding: 5px 10px;
    border-radius: 3px;
    transition: background-color 0.3s ease;
  }
  
  .tagsItem a:hover {
    background-color: #e0e0e0;
  }

  .add-count-btn {
    background-color: #235348;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 12px;
    margin-top: 2px;
  }

  .title-link {
    color: black;
    font-weight: bolder;
  }