.paper-container {
    padding: 30px;
}

.preview-button {
    border: 1px solid;
    padding: 10px 20px;
    font-size: 16px;
}

.delete-button {
    background-color: red;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
}

.uploaded-image {
    max-width: 100%;
}

.title-input,
.tags-input {
    width: 100%;
    margin-bottom: 20px;
}

.editor {
    width: 100%;
    min-height: 200px;
}

.button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.publish-button {
    border: none;
    background-color: green;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
}

.cancel-button {
    border: none;
    padding: 10px 20px;
    font-size: 16px;
}